@font-face {
  font-family: Barlow-Black;
  src: url(@/assets/fonts/Barlow/Barlow-Black.woff2) format("woff2");
  font-display: block;
}

@font-face {
  font-family: Barlow-SemiBold;
  src: url(@/assets/fonts/Barlow/Barlow-SemiBold.woff2) format("woff2");
  font-display: block;
}

@font-face {
  font-family: Great-Vibes;
  src: url(@/assets/fonts/Great_Vibes/GreatVibes.woff2) format("woff2");
  font-display: block;
}

body {
  background-color: #1b1b1f;
}

* {
  font-family: Arial, sans-serif;
  font-weight: bold;
}
