@font-face {
  font-family: Barlow-Black;
  src: url(@/assets/fonts/Barlow/Barlow-Black.otf);
}

@font-face {
  font-family: Barlow-SemiBold;
  src: url(@/assets/fonts/Barlow/Barlow-SemiBold.otf);
}

@font-face {
  font-family: Great-Vibes;
  src: url(@/assets/fonts/Great_Vibes/GreatVibes.ttf);
}

body {
  background-color: #1b1b1f;
}
